.container {
    padding: 14px 20px;
}

.header {
    padding: 12px 0 12px 40px;
    background-color: #008cff;
    color: white;
    font-size: 25px;
}

.tasks-list {
    border: 1px solid gray;
    padding: 8px 40px 8px 8px;
    margin-bottom: 6px;
    box-shadow: 0 6px 5px 0 rgba(34, 60, 80, 0.2);
}

.create-task-form {
    border: 1px solid gray;
    padding: 8px 40px 8px 8px;
    box-shadow: 0 6px 5px 0 rgba(34, 60, 80, 0.2);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task > div {
    display: flex;
    align-items: center;
}

.form-style {
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.add {
    color: #008cff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: none;
    padding: 18px 0 10px 94%;
}

.close-icon {
    width: 10px;
    height: 10px;
}

.close-icon,
input,
.add {
    cursor: pointer;
}